#home-page-root{
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}

#main-menu-button{
    -fx-background-color: #c9c7c7;
    -fx-text-fill: #2c2d2f;
    -fx-border-color: #5c5e5e;
    -fx-alignment: center;
}

#simulator-root{
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}

#main-menu-vbox{
    -fx-alignment: center;
}

#0-cell{
    -fx-fill: #e8da37;
}

#1-cell{
    -fx-fill: #F3F2F1;
}

#2-cell{
    -fx-fill: #262626;
}

#simulator-button{
    -fx-background-color: #c9c7c7;
    -fx-text-fill: #2c2d2f;
    -fx-border-color: #5c5e5e;
}