#home-page-root{
    -fx-background-color: #13294b;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}

#main-menu-button{
    -fx-background-color: #4b9cd3;
    -fx-text-fill: #ffffff;
    -fx-border-color: #5c5e5e;
    -fx-alignment: center;
}

#simulator-root{
    -fx-background-color: #13294b;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}

#main-menu-vbox{
    -fx-alignment: center;
}

#0-cell{
    -fx-fill: #4b9cd3;
}

#1-cell{
    -fx-fill: #ffffff;
}

#2-cell{
    -fx-fill: #5c5e5e;
}

#simulator-button{
    -fx-background-color: #4b9cd3;
    -fx-text-fill: #ffffff;
    -fx-border-color: #5c5e5e;
}